.Card {
    margin: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.Card .Conteudo {
    background-color: #fff;
    color: #000;
    padding: 15px;
}

.Card .Footer {
    background-color: #000;
    color: #fff;
    padding: 5px;
}