
h2{
    padding-top: 150px;
    color: #fff;
}
                
body{
    width: 100%;
    height: 100%;
    background-color: #1f2229 ;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
                
.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
}
                
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
                
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
               
.change .bar2 {opacity: 0;}
               
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); 
}
                
.grid-container {
    display: grid;
    grid-template-columns: 0.3fr 2.3fr 0.9fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." ". . .";
}  
                
.dropbtn {
    background-color: #2c2f36;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
                
.dropbtn:hover, .dropbtn:focus {
    background-color: #1f2229;
}
                
.dropdown {
    width: 68px;
    display: inline-block;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #2c2f36;
}
                
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2f36;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px #fff(0,0,0,0.2);
    z-index: 1;
}
                
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
            
.dropdown a:hover {background-color: #ddd;}
                
.show {display: block;}
      
.social li a {
    height: 32px;
    width: 32px;
    color: transparent;
    display: block;
    text-indent: -9999px;  
}
                
.social a[href*="facebook.com"] {
    background-image: url(/imagem/facebook.png);
}
                
ul li{
    padding-block-end: 15px;
    background-color: #1f2229 ;
    display: table;
    vertical-align: middle 
    position: left;
}
                
ul{
    padding-inline-start: 20px;
    padding-top: 150px;
    font-size: 75px;
}
                
p{
    padding-top: 25px;
    color: #fff;      
}
                
.Bar{
    padding-top: 5px;
    font-size: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;          
}
                
.Bar a{
    font-size: 25px;
    color: #fff;
    padding-inline-start: 15px;
    padding-block: 15px;      
}
                
h3{
    padding-top: 50px;
    size: 2px;
    color: #fff;
}
                
h1{
    size: 15px;
    color: #fff;
}
                
.imgchain img{
    max-width:250px;
    max-height:150px;
    width: auto;
    height: auto;             
}
                
.padd h2{
    padding-top: 150px;
    color: #fff;
}
                
.separate h2{padding-top: 75px;}
 
.container img{
    max-width: 100%;
    height: auto;
    padding-top: 350px;
}